{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
  		<title>Travel - {{ title }}</title>
  	{% else %}
  		<title>Travel</title>
  	{% endif %}
</head>
<body>
</br></br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {% if user.is_authenticated %}
          Hello, {{ user.username }}.
          <a href="{% url 'myapp:logout' %}"> Not you? </a>
        {% endif %}
      </div>
      <div class="col-md-3 text-right">
        {% if user.is_authenticated %}
          {% if user.is_superuser or user.role == 2 %}
            <span class="text-right">
              <a href="{% url 'myapp:admin_panel' %}">Admin Panel</a>
            </span>
          {% endif %}
        {% endif %}
      </div>
      {% if user.is_authenticated %}
        <div class="col-md-3">
          <a href="{% url 'myapp:profile' %}">Profile</a>
          &nbsp;
          <a href="{% url 'myapp:change_password' %}">Password</a>
          &nbsp;
          <a href="{% url 'myapp:logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="col-md-3">
          <a href="{% url 'myapp:login' %}">Login</a>
          &nbsp;
          <a href="{% url 'myapp:register' %}">Register</a>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
{% block footer_javascript_page %}
<script src="https://js.stripe.com/v3/" type="text/javascript"></script>
<script src="{% static '/myapp/js/payment_client.js' %}" type="text/javascript"></script>
{% endblock footer_javascript_page %}
