{% extends "myapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Destination{% endblock %}
{% block content %}
	<legend class="border-bottom mb-4">
		<a href="{% url 'myapp:index' %}">Travel</a> - Create Destination
	</legend>
	<div class="content-section">
		<form enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Submit</button>
			</div>
		</form>
	</div>
{% endblock content %}
