{% extends 'myapp/base.html' %}

{% block title %}Detail{% endblock %}
{% block content %}

  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Details Page
  </legend>

  <h5> {{destination.name}} - {{destination.price}}$ </h5>

  <div>
    <div class="mb-4">
      <img src="{{destination.image.url}}" alt="{{destination.name}}">
    </div>
    <div>
      <div> {{destination.description}} </div>
    </div>
  </div>

  <legend class="border-bottom mb-4"></legend>

  <a href="{% url 'myapp:select' destination.id %}">
    <button class="btn btn-outline-info"> Select </button>
  </a>

{% endblock %}
