{% extends 'myapp/base.html' %}

{% block title %}Index{% endblock %}
{% block content %}
  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Index Page
  </legend>
  <div class="content-section">
  {% if destinations_list %}
    <!-- Destination -->
    {% for dest in destinations_list %}
      <div>
        <div class="mb-4">
          <a href="{% url 'myapp:detail' dest.pk %}">
            <img src="{{dest.image.url}}" alt="{{dest.name}}">
          </a>
        </div>
        <div>
          <div> {{dest.name}} - {{dest.price}}$ </div>
          <div> {{dest.description}} </div>
        </div>
      </div>
      <legend class="border-bottom mb-4"></legend>
    {% endfor %}
    <!-- Destination -->
  {% else %}
    <div class="alert alert-info">
			No destinations are available.
		</div>
  {% endif %}
  </div>
{% endblock %}
