{% extends "myapp/base.html" %}

{% block title %}Logout{% endblock %}
{% block content %}
	<legend class="border-bottom mb-4">
		<a href="{% url 'myapp:index' %}">Travel</a> - User Logout
	</legend>
	<div class="content-section">
		<div class="alert alert-info">
			You have been successfully logged out.
		</div>
	</div>
{% endblock content %}
