{% extends "myapp/base.html" %}

{% block title %}Password Reset Complete{% endblock %}
{% block content %}
	<legend class="border-bottom mb-4">
		<a href="{% url 'myapp:index' %}">Travel</a> - Reset Password Complete
	</legend>
	<div class="content-section">
		<div class="alert alert-info">
			Your password has been set!
		</div>
	</div>
{% endblock content %}
