{% extends "myapp/base.html" %}

{% block title %}Payment Success{% endblock %}
{% block content %}
	<legend class="border-bottom mb-4">
		<a href="{% url 'myapp:index' %}">Travel</a> - Payment Success
	</legend>
	<div class="content-section">
		<div class="alert alert-info">
			Payment has been made successfully.
		</div>
	</div>
{% endblock content %}
