{% extends 'myapp/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Make Payment{% endblock %}
{% block content %}
  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Make Payment
  </legend>

	<form action="{% url 'myapp:make_payment' pk %}" method="POST" id="payment-form">
		{% csrf_token %}
    <div>
      {{ form|crispy }}
    </div>

    <div>
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>

    <legend class="border-bottom mb-4"></legend>
		<button class="btn btn-outline-info" type="submit">Submit</button>
	</form>
{% endblock content %}
