{% extends 'myapp/base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}

  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Profile Page
  </legend>

  {% if selections %}
  <p>
    {% for selection in selections %}
      <p style="margin:0;padding:0;">
        <a href="{% url 'myapp:deselect' selection.id %}">
          <button class="btn"><i class="fa fa-trash"></i></button>
        </a>
        <a href="{% url 'myapp:detail' selection.destination.id %}">
          {{ selection.destination.name }}
        </a>
      </p>
    {% endfor %}
  </p>
  {% else %}
    <p>No destinations selected.</p>
  {% endif %}

{% endblock %}
