{% extends 'myapp/base.html' %}

{% block title %}Admin Panel{% endblock %}
{% block content %}

  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Admin Panel
  </legend>

  <h3>
    <a href="{% url 'myapp:view_users' %}"> User Management </a>
  </h3>
  <h3>
    <a href="{% url 'myapp:view_destinations' %}"> Destination Management </a>
  </h3>

{% endblock %}
