{% extends 'myapp/base.html' %}

{% block title %}Destination Management{% endblock %}
{% block content %}

  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - Destination List
  </legend>

  <a href="{% url 'myapp:create_destination' %}">Click Here</a> - To Add Another Destination

  {% if destination_list %}
      <p>
        {% for destination in destination_list %}
            <p style="margin:0;padding:0;">
              <a href="{% url 'myapp:delete_destination' destination.pk %}">
                <button class="btn"><i class="fa fa-trash"></i></button>
              </a>
              <a href="{% url 'myapp:detail' destination.pk %}">
                {{ destination.name }}
              </a>
            </p>
        {% endfor %}
      </p>
  {% else %}
      <p>No destinations are available.</p>
  {% endif %}

{% endblock %}
