{% extends 'myapp/base.html' %}

{% block title %}User Management{% endblock %}
{% block content %}

  <legend class="border-bottom mb-4">
    <a href="{% url 'myapp:index' %}">Travel</a> - User List
  </legend>

  <a href="{% url 'myapp:create_user' %}">Click Here</a> - To Add Another User

  {% if user_list %}
      <p>
        {% for user in user_list %}
            <p style="margin:0;padding:0;">
              <a href="{% url 'myapp:delete_user' user.pk %}">
                <button class="btn"><i class="fa fa-trash"></i></button>
              </a>
              &nbsp;&nbsp; {{ user.username }}
              {% if user.last_name %}
                - {{ user.last_name }},
              {% endif %}
              {% if user.last_name %}
                {{ user.first_name }}
              {% endif %}
            </p>
        {% endfor %}
      </p>
  {% else %}
      <p>No users are available.</p>
  {% endif %}

{% endblock %}
